<!-- Footer ================================================== -->
<footer id="content-footer" role="contentinfo">
	<div class="footer navbar-fixed-bottom">
		<p align="center"> Copyright &copy; 2015 ThriveSmart Inc.<br> Designed and made by ThriveSmart, Inc. 182 Howard St. #653, San Francisco, CA 94105 </p>
	</div>
</footer>