<html>
	<head>
		<title> Winnect </title>
		{{>_scriptsTemplate}}
	</head>
	<body>
		{{>_navbarTemplate}}
		<div class="wrapper" style="margin:0">
			<div class="section" style="margin: 80px 0">
				<div class="container">
					<h2> Please login using Facebook </h1>
					<a href="/auth/facebook" class="btn btn-primary"> Login </a>
				</div>
			</div>
		</div>
		{{>_footerTemplate}}
	</body>
</html>