<html>
	<head>
		<title> Winnect </title>
		{{>_bootstrap_template}}
	</head>
	<body>
		<div class="container">
			<h1> Please login using Facebook </h1>
			<a href="/auth/facebook" class="btn btn-primary"> Login </a>
		</div>
	</body>
</html>